<div>
    <h1>{{msg}}</h1>
    <br>
    <h2>Quản lý người dùng</h2>
    <br>
    <a href="/admin/unactived_account">Danh sách các tài khoản chưa kích hoạt</a>
    <br>
    <a href="/admin/list_actived_account">Danh sách các tài khoản đã kích hoạt</a>
    <br>
    <a href="/admin/list_disabled_account">Danh sách các tài khoản đã bị vô hiệu hóa</a>
    <br>
    <a href="/admin/list_permanently_disabled">Danh sách các tài khoản đã bị vô hiệu hóa</a>

</div>