<p>{{msg}}</p>
<br>
<form method="post">
    <p>Mật khẩu mới</p>
    <input type="password" class="new_password" name="new_password">
    <p>Nhập lại mật khẩu mới</p>
    <input type="password" class="new_password_confirm" name="new_password_confirm">
    <br>
    <button>Đổi mật khẩu</button>
    <br>
    <a href="/home/logout">Đăng xuất</a>
</form>