<head>
    <link rel="stylesheet" href=".././views/css/home_dashboard.css">
</head>
<style>
    h2 {
        color: red;
    }
</style>
    <h2>XIN CHÀO {{user_name}}</h2>
    <br>
    <p style="color: red;">{{msg}}</p>
    <br>
    <a href="/home/information">Information</a>
    <br>
    <a href="/home/change_password">Change password</a>
    <br>
    <a href="/home/recharge">Recharge e-wallet</a>
    <br>
    <a href="/home/transaction">Transaction</a>
