<div>
    <h1>Trang hồi phục mật khẩu. Xin chào {{email}}</h1>
    <br>
    <p>{{err_msg}}</p>
    <br>
    <form action="" method="post">
        <p>Mật khẩu mới</p>
    <input type="password" required name="newPassWord">
    <p>Nhập lại mật khẩu mới</p>
    <input type="password" required name="newPassWordConfirm">
    <br>
    <button>Đổi</button>
    </form>
    <br>
</div>