<div>
    <h2>{{msg}}</h2>
    <br>
    <br>
    <form action="" method="post">
        <p>Email</p>
        <input type="text" name="email">
        <p>Phone</p>
        <input type="text" name="phone">
        <br>
        <button>Gửi OTP</button>
    </form>

</div>