<div>
    <p>{{msg}}</p>
<br>
<form method="post">
    <p>Mật khẩu cũ</p>
    <input type="password" class="old_password" name="old_password">
    <p>Mật khẩu mới</p>
    <input type="password" class="new_password" name="new_password">
    <p>Nhập lại mật khẩu mới</p>
    <input type="password" class="new_password_confirm" name="new_password_confirm">
    <br>
    <button>Đổi mật khẩu</button>
</form>
</div>